# Build products
generate-test-db
test-daemon
test-database-cache
test-database-manager
test-prefix-store
test-router
xapian-bridge
data/xapian-bridge.service

# Autotools/Gettext droppings and other build artifacts
.deps
.libs
Makefile
Makefile.in
stamp*
*.stamp
*.log
*.o
*.trs
/ABOUT-NLS
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/gtk-doc.make
/install-sh
/libtool
/ltmain.sh
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/libtool.m4
/missing
/test-driver

# Backup files
*~
