Source: xapian-bridge
Priority: standard
Maintainer: Will Greenberg <will@endlessm.com>
Build-Depends: autotools-dev,
               ca-certificates,
               debhelper (>= 8.0.0),
               dh-systemd (>= 1.5),
               libglib2.0-dev,
               libjson-glib-dev,
               libsoup2.4-dev (>= 2.48),
               libxapian-glib-1.0-dev,
               systemd
Standards-Version: 3.9.4
Section: non-free/libs
Homepage: http://www.endlessm.com

Package: xapian-bridge
Section: non-free/libdevel
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Exposes Xapian API via HTTP
 Uses libsoup to expose the xapian api over http.
